/* Main Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #caf0f8;
}

#main-content {
    width: 80%;
    margin:auto;      /* Center */
}

#main-header {
    background: #68b0ab;
}

#content {

}

#main-footer {

}

/*Gallery */
#gallery section {
    background: lightgray;
    padding:5px;
    border-radius: 5px;
    margin:5px;
}

#gallery section h3 {
    text-align:center;
}

/* Navigation */
#main-nav ul {
    padding-left:0;
}
#main-nav li {
    list-style-type:none;
    background: #e56b6f;
    padding: 5px 10px;
    border-bottom: 1px solid #f2e8cf;
}

#main-nav a {
    text-decoration: none; /*Remove Underline */
}





/* Typography */
#main-header h1 {
    text-align: center;
    padding-top:10px;
}

/*Larger Devices*/
@media (min-width: 768px) {
    #content {
        justify-content: space-between;
    }
    .columns {
        display:flex;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4;
    }

    #main-nav ul {
        display:flex;
    }

    #main-nav li {
        background: transparent;
        flex:1;
    }

    #main-nav a {
        color: darkslateblue;
        border-bottom:1px solid transparent;
    }

    #main-nav a:hover {
        border-bottom:1px solid darkslateblue;
    }
}

/* Square */
#square {
    width: 100px;
    height: 100px;
    background: lightsalmon;

/* Position absolute is in respect to the upper left hand corner */
    position: relative;
    top:50px;
    right:50px;

}